<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="max-width: 400px; width: 100%;">
        <h5 class="card-title text-center mb-4">Сброс пароля</h5>
        <form asp-controller="Password" asp-action="FindEmail">
            <div class="mb-3">
                <label for="emailInput" class="form-label">Введите email, к которому привязан ваш аккаунт</label>
                <input type="email"
                       id="emailInput"
                       name="userEmail"
                       class="form-control"
                       placeholder="Введите email"
                       required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Подтвердить</button>
        </form>
    </div>
</div>
